<!DOCTYPE html>
<html>

	<head>

		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Jeff &amp; Alison Are Getting Married on August 22nd, 2015</title>

		<link href="static/css/screen.css" rel="stylesheet" type="text/css" media="screen">

		<script type="text/javascript" charset="utf-8" src="static/js/modernizr.2.8.3.js"></script> 
		<script src="//use.typekit.net/syd6llf.js"></script>
		<script>try{Typekit.load();}catch(e){}</script>

	</head>

	<body>

		<div class="container">

			<section class="hero">
				<div>
					<h1>Jeff <span>&amp;</span> Alison</h1>
					<h2>August 22, 2015</h2>
				</div>

				<nav>
					<ul>
						<li><a href="#plan">The Plan</a></li>
						<li><a href="#map">Location &amp; Directions</a></li>
						<li><a href="#info">Venue Information</a></li>
						<li><a href="#rsvp">RSVP &amp; Gifts</a></li>
					</ul>
				</nav>
			</section>

			<section id="plan">
				<article>
					<h2>The Plan</h2>
					<p>We can’t wait to see you for our wedding! The plan is for our family and our closest friend to all spend the weekend celebrating our wedding and enjoying the beautiful Frank Church Wilderness at the Diamond D Ranch.  Official wedding activities will begin on Friday August 21st and will continue through Sunday brunch - with our wedding ceremony taking place on Saturday afternoon.</p>

					<h3>Disclaimer</h3>
					<p>It's going to be a party. This is a big weekend with many logistics. We realize it might seem confusing, so if you have any questions at all, or need anything at all, PLEASE call or email, we are happy to help!</p>

					<ul>
						<li>Alison: (208) 874-2949 alisonchunter@gmail.com</li>
						<li>Jeff: (208) 869-6423, jeffrey.w.bower@gmail.com</li>
					</ul>
				</article>
				<img src="../static/images/jeff_alison.png" alt="Image collage of Alison and Jeff" />
			</section>

			<section id="map">
				<article>
					<h2>Diamond D Ranch</h2>

					<ul>
						<li>N 44o 32’ 57.318</li>
						<li>W 114o 51’ 05.565</li>
					</ul>

					<p>From Stanley, Idaho, take Highway 75 towards Challis, Idaho for 13.4 miles. Turn left onto the Yankee Fork Road and head North for 8.6 miles until reaching Loon Creek Road. Turn Left onto Loon Creek Road. Continue on Loon Creek Road for 24.8 miles. As a small warning, Loon Creek Road is an unimproved dirt road with sharp rocks in the roadbed and cliff exposures. If you are renting a car, a vehicle with high clearance and good tires is highly recommended. The drive is gorgeous, go slow and enjoy it.</p>

					<p>If you’d prefer not to drive, you can always charter a backcountry plane from the Boise Airport (BOI) to the Diamond D Ranch. The flight will offer incredible vistas of the Idaho Salmon River mountains. We recommend booking your backcountry flights with <a href="http://www.mccallaviation.com/">McCall Air</a>.</p>
				</article>

				<aside>
					<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1454529.3772691388!2d-114.81079299999999!3d44.599526999999995!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54a8719f95bef9eb%3A0xb91c31a028821d20!2sDiamond+D+Ranch!5e0!3m2!1sen!2sus!4v1421631046530" width="782" height="880" frameborder="0" style="border:0"></iframe>
				</aside>
			</section>

			<section id="info">
				<article>
					<h3>Accommodations &amp; Meals</h3>
					<p>We have worked with the Ranch to accommodate as many people as possible but lodging is limited. For this reason only family will likely be able to stay in cabins at the Ranch and we are asking our friends to camp nearby on Loon Creek. We hope you understand and can still join us for the celebration!</p>

					<p>For family members staying in cabins, we will contact you to discuss payment and lodging arrangements. For friends camping, there are quite a few locations and options to set up a great camp, some very close to the Ranch. Although we are asking that you camp, we will be covering your food and drink Friday through Sunday. Additionally, the Ranch has showers and bTathrooms for campers that will make camping for city slickers a little more palatable.</p>

					<p>Whether you are camping or staying in the cabins, from Friday night until Sunday morning, we will provide all meals and beverages.</p>

					<h3>What to pack</h3>
					<p>All guests should bring: Clothing that can be layered (in August temperatures canrange from 80 degrees during the day to as low as 30 degrees at night). We also ask that guests bring tips for the ranch staff, $25 for campers, $85 for Lodgers.</p>

					<p>Wedding attire: wilderness formal.</p>

					<p>For guests that are camping you will also need a towel, tent, sleeping pad, sleeping bag (20 degrees or warmer), drinking water for whole weekend, headlamp or flashlight, bear spray (j/k).</p>

					<p>If you are planning on being active, don’t forget the gear you will need: cowboy hat (required), hiking shoes, swim suit, fishing gear and license, camera.</p>

					<h3>Activities</h3>	
					<p>At the Diamond D and in the surrounding Loon Creek basin there are endless outdotor activities to enjoy. There are a great hiking trails in the surrounding wilderness area that can be explored on foot or on horseback on a trail ride with the Diamond D’s wranglers. Flyfishing is also terrific both in the Ranch’s private lake and on Loon Creek, which holds rainbows, cutthroats, and elusive bulltrout. Mountain bikes are also welcome to enjoy the miles of surrounding trails. If you want a more relaxing experience bring your bathing suit to enjoy the pool and hot tub on the main lawn. Make sure to bring all the appropriate gear and clothing to partake.</p>
				</article>
			</section>

			<section id="rsvp">
				<article>
					<div id="wufoo-zaepove1wcohfs">
						Fill out my <a href="https://barto457.wufoo.com/forms/zaepove1wcohfs">online form</a>.
					</div>
					<div id="wuf-adv" style="font-family:inherit;font-size: small;color:#a7a7a7;text-align:center;display:block;">
						The easy to use <a href="http://www.wufoo.com/form-builder/">Wufoo form builder</a> helps you make forms easy, fast, and fun.
					</div>
					<script type="text/javascript">var zaepove1wcohfs;(function(d, t) {
						var s = d.createElement(t), options = {
						'userName':'barto457',
						'formHash':'zaepove1wcohfs',
						'autoResize':true,
						'height':'521',
						'async':true,
						'host':'wufoo.com',
						'header':'show',
						'ssl':true};
						s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
						s.onload = s.onreadystatechange = function() {
						var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
						try { zaepove1wcohfs = new WufooForm();zaepove1wcohfs.initialize(options);zaepove1wcohfs.display(); } catch (e) {}};
						var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
						})(document, 'script');
					</script>
				</article>
				<aside>
					<h3>Gifts</h3>
					<p>Your presence is all we hope for; no gifts needed! Thank you for making the journey and sharing this special time with us. If you still feel inclined, we would appreciate any cash donations towards our honeymoon: cruising the Greek Isles.</p>
				</aside>
			</section>
		</div>

	</body>

</html>